.form_contact input{
    height:50px;
    width: 300px;
    border-radius:5px;
    border: 0px solid #FF2F73;
    background-color: white;
    font-size: 20px;
}
.contain_contact{
    display: flex;
    justify-content:center;
    align-items:center;
    height: 535px;
    width: 100%;
    background-color:#3F70F9
}
.form_contact button{
    height:50px;
    width: 250px;
    border-radius:50px;
    border: 1px solid #FF2F73;
    background-color: #FF2F73;
    color: white;
    font-size: 20px;
}
.form_contact{
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
#message{
    height:200px
}